[submodule "RAG-Based-Intelligent-Support-Ticket-System-DEPI-Project"]
	path = RAG-Based-Intelligent-Support-Ticket-System-DEPI-Project
	url = https://github.com/nour-hatem/RAG-Based-Intelligent-Support-Ticket-System-DEPI-Project.git
